<div class="container py-3 devise">
  <%= link_to "Back", :back %>
  <h2 class="mb-4 mt-2">Edit <%= resource_name.to_s.humanize %></h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"mb-3" }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs ">
      <%= f.input :email, required: true, autofocus: true, input_html: {class: 'bg-transparent border-0 border-bottom',} %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first-name", class: 'bg-transparent border-0 border-bottom ', } %>
      <%= f.input :last_name,
                required: true,
                input_html: { autocomplete: "last-name", class: 'bg-transparent border-0 border-bottom ', } %>
      <%= f.input :password,
                required: false,
                input_html: { autocomplete: "new-password", class: 'bg-transparent border-0 border-bottom ', } %>
      <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password", class: 'bg-transparent border-0 border-bottom ', } %>
      <%= f.input :current_password,
                required: true,
                input_html: { autocomplete: "current-password", class: 'bg-transparent border-0 border-bottom ', } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn light" %>
    </div>
  <% end %>
  <div>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger text-white" %>
  </div>
</div>
