<div class="container py-3 devise">
  <%= link_to :back do %>
    <i class="fa-solid fa-xl fa-chevron-left"></i>
  <% end %>
  <h2 class="my-3">Sign up</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs text-white">
      <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first-name", class: 'bg-transparent border-0 border-bottom',
 } %>
      <%= f.input :last_name,
                required: true,
                input_html: { autocomplete: "last-name", class: 'bg-transparent border-0 border-bottom', } %>
      <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email", class: 'bg-transparent border-0 border-bottom', }%>
      <%= f.input :location,
                required: true,
                input_html: { autocomplete: "location", class: 'bg-transparent border-0 border-bottom', }%>
      <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password", class: 'bg-transparent border-0 border-bottom', } %>
      <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class: 'bg-transparent border-0 border-bottom', } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: 'btn light sm-font' %>
    </div>
  <% end %>
</div>
