<div class="container py-3">
  <div class="ps-2 mb-3">
    <%= link_to :back do %>
      <i class="fa-solid fa-xl fa-chevron-left" style="color: #ffffff;"></i>
    <% end %>
  </div>
  <h2 class="mb-3">Modify Outfit</h2>
  <%= simple_form_for @outfit do |f| %>
    <%= f.input :photos,
            as: :file,
            input_html: {multiple: true, class: 'mb-3'} %>
    <%= f.input :description,
            input_html: {class: 'bg-transparent border-0 border-bottom text-white'} %>
    <%= f.submit "Update", class: 'btn light text-white mt-3' %>
  <% end %>
</div>
