<div class="container-fluid bg-image">
  <div class="pt-5 mb-4 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-around mx-4">
      <i class="pe-2 pt-0 fa-solid fa-lg fa-location-dot" style="color: #ffffff;"></i>
      <p class="mb-0"><%= current_user.location %></p>
    </div>
    <div class="d-flex justify-content-around mx-4">
      <i class="pe-5 fa-solid fa-lg fa-calendar" style="color: #ffffff;"></i>
      <i class="fa-solid fa-lg fa-magnifying-glass" style="color: #ffffff;"></i>
    </div>
  </div>
  <div class="d-flex justify-content-around ps-3 pe-3">
    <div class="d-flex flex-column">
      <% @outfits.first(@outfits.count/2).each do |outfit| %>
        <% if outfit == @outfits.first(@outfits.count/2).first %>
          <%= render partial: 'shared/outfitsmall', locals: { outfit: outfit } %>
        <% else %>
          <%= render partial: 'shared/outfitlarge', locals: { outfit: outfit } %>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex flex-column">
      <% @outfits.last(@outfits.count-@outfits.count/2).each do |outfit| %>
        <% if outfit == @outfits.last(@outfits.count-@outfits.count/2).last %>
          <%= render partial: 'shared/outfitsmall', locals: { outfit: outfit } %>
        <% else %>
          <%= render partial: 'shared/outfitlarge', locals: { outfit: outfit } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
