<div class="container-fluid bg-image">
  <div class="pt-5 d-flex justify-content-between">
    <div class="d-flex justify-content-around mx-4">
      <i class="pe-2 pt-0 fa-solid fa-lg fa-location-dot" style="color: #ffffff;"></i>
      <p class="mb-2"><%= @weather[:location].titleize %></p>
    </div>
    <div class="d-flex justify-content-around mx-4">
      <i class="pe-5 fa-solid fa-lg fa-calendar" style="color: #ffffff;"></i>
      <i class="fa-solid fa-lg fa-magnifying-glass" style="color: #ffffff;"></i>
    </div>
  </div>
    <div class="d-flex justify-content-around ps-3 pe-3">
    <div class="d-flex flex-column">
      <% @outfits.first(@outfits.count/2).each do |outfit| %>
        <% if outfit == @outfits.first(@outfits.count/2).first %>
          <%#= render partial: 'shared/outfitsmall', object: outfit %>
          <%= link_to outfit_path(outfit), class:"text-decoration-none" do %>
            <div class="pb-3">
              <%= cl_image_tag outfit.photos.first.key, crop: :fill, class: "card image1" %>
            </div>
          <% end %>
        <% else %>
          <%= link_to outfit_path(outfit), class:"text-decoration-none" do %>
            <div class="pb-3">
              <%= cl_image_tag outfit.photos.first.key, crop: :fill, class: "card image2" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex flex-column">
      <% @outfits.last(@outfits.count-@outfits.count/2).each do |outfit| %>
        <% if outfit == @outfits.last(@outfits.count-@outfits.count/2).last %>
          <%= link_to outfit_path(outfit), class:"text-decoration-none" do %>
            <div class="pb-3">
              <%= cl_image_tag outfit.photos.first.key, crop: :fill, class: "card image2" %>
            </div>
          <% end %>
        <% else %>
          <%= link_to outfit_path(outfit), class:"text-decoration-none" do %>
            <div class="pb-3">
              <%= cl_image_tag outfit.photos.first.key, crop: :fill, class: "card image2" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
