<div class="navbar navbar-expand-sm navbar-lewagon fixed-bottom border-top px-md-5">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <i class="fa-solid fa-house fa-xl "></i>
    <% end %>
    <%= link_to weather_forecast_path do %>
      <i class="fa-solid fa-cloud fa-xl"></i>
    <% end %>
    <%= link_to new_outfit_path do %>
      <label for="camera" data-controller="upload-image">
        <span class="camera-btn btn">
          <i class="fa-solid fa-plus fa-2xl"></i>
        </span>
      <% end %>
    </label>
    <%= link_to outfits_path do %>
      <i class="fa-solid fa-shirt fa-xl"></i>
    <% end %>
    <%= link_to dashboard_path do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  </div>
</div>
